<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3>{{ selectedContact?.name }}</h3>
    <img *ngIf="selectedContact?.imageUrl !== ' '" src="{{ selectedContact?.imageUrl }}" alt="{{ selectedContact?.name }}" class="img-responsive pull-left" style="max-height: 50px;">
    <button class="btn btn-danger pull-right"
      (click)="onDelete()"
      >Delete</button>
    <button class="btn btn-primary pull-right" routerLink="/contacts/{{selectedContact?.id}}/edit">Edit</button>
  </div>
  <div class="panel-body">
    <p><b>Email:</b> {{ selectedContact?.email }}</p>
    <p><b>Phone:</b> {{ selectedContact?.phone }}</p>
    <div *ngFor="let contact of selectedContact?.group; let i = index">
      <div>
        <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
